[submodule "steve_zissou_static"]
	path = steve_zissou_static
	url = https://github.com/brett-smythe/steve_zissou_static.git
[submodule "steve_zissou"]
	path = steve_zissou
	url = https://github.com/brett-smythe/steve_zissou.git
